package components

templ Base() {
	<html>
		<head>
			<title>Containerama</title>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
			<script src="https://cdn.tailwindcss.com"></script>
			<script src="/script.js"></script>
		</head>
		<body class="bg-gray-900">
			<div id="popup"></div>
			<div id="page">
				{ children... }
			</div>
		</body>
	</html>
}
